<h1>Profile PAGE!</h1>

<h3>Your social schema :</h3>

<form method="post" action="/api1/profilepic" id="submit-form" enctype="multipart/form-data">


<h2 >Upload image:-</h2> <input type="file" name="profilepic" />
<br />

<br /><br /><br /><br />
<button type="submit" class="btn btn-outline-info">Submit</button>
</form>